# Python
__pycache__/
*.pyc

# Virtual env
venv/

# Django
*.sqlite3
.env

# IDE
.vscode/

/media/

# Personal images (temporary)
portfolio/static/portfolio/assets/img/perfil.png
portfolio/static/portfolio/assets/img/about.jpg