
<footer class="footer">
  <div class="footer__container bd-grid">

    <h2 class="footer__title">Claudio Ledesma</h2>

    <div class="footer__social">
      <a href="https://www.linkedin.com/in/claudio-alejandro-ledesma-48b65a365/"
         target="_blank" rel="noreferrer"
         class="footer__icon">
        <i class='bx bxl-linkedin'></i>
      </a>

      <a href="https://github.com/ale687"
         target="_blank" rel="noreferrer"
         class="footer__icon">
        <i class='bx bxl-github'></i>
      </a>

      <a href="mailto:clledesma@frba.utn.edu.ar" 
          class="footer__icon">
        <i class='bx bx-envelope'></i>
      </a>
    </div>

    <p class="footer__copy">
      &#169; {{ now|date:"Y" }} Claudio Ledesma. All rights reserved.
    </p>

  </div>
</footer>
